<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 10 - 3</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Book Store</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Book Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% books.forEach(book => { %>
                        <tr>
                            <td><%= book.id %></td>
                            <td><%= book.name %></td>
                            <td><%= book.description %></td>
                            <td><%= book.price %></td>
                            <td><%= book.amount %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>